<h1>Should I take an umbrella?</h1>
<p>User location</p>
<p><%= @location %>
<p>Latitude</p>
<p><%= @lat %>
<p>Longitude</p>
<p><%= @lng %>
<p>Current temperature</p>
<p><%= @current_temp %>
<p>Current summary</p>
<p><%= @summary %>
<p>Umbrella?</p>
<p><%= @output %></p>
<a href="/umbrella">Go back</p>
